.coordinate-grid{
  margin-top: 20px;
  width: 242px;
  height: 242px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.markupY{
  width: 20px;
  height: 20px;
  margin: 1px;
}
