<div class="ships">
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.battleship"
    [ngClass]="{ selectedShip: selectedShip === 'battleship'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.cruiser"
    [ngClass]="{ selectedShip: selectedShip === 'cruiser'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.destroyer"
    [ngClass]="{ selectedShip: selectedShip === 'destroyer'}"
    (onSelectShip)="selectShip($event)"></app-ship>
  <app-ship
    class="ship"
    [ship]="shipsConfigs?.torpedoBoat"
    [ngClass]="{ selectedShip: selectedShip === 'torpedoBoat'}"
    (onSelectShip)="selectShip($event)"></app-ship>
</div>

